<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-sm navbar-light blue-grey lighten-5" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <img class="fakeLink" [routerLink]="['/']" src="../../../assets/images/LearnTex_Logo_Alt.PNG" height="30" alt="">
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">

      </ul>
      <!-- Links -->
  
      <user-profile></user-profile>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
